<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lon.blog.dao.mapper.ConfigMapper">

    <resultMap id="BaseResultMap" type="com.lon.blog.dao.pojo.ConfigPojo">
            <id property="name" column="name" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        name,value,comment
    </sql>
    <select id="selectOneByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lt_config
        <where>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>
